.content {
    width: 100%;
}

.name {
    color: black;
    text-align: center;
}

.reservation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reservation-status {
    color: black;
    margin: 10px auto 20px 30px;
    font-size: 18px;
}

.reservation-box {
    width: 50%;
}

.like-shops {
    width: 50%;
}

.shop-name {
    font-weight: bold;
    margin-left: 5px;
}

.like-content {
    display: flex;
    flex-wrap: wrap;
}

.like-heart {
    background-color: transparent;
    border: none;
    cursor: pointer;
    appearance: none;
    margin: 5px 7px 15px 10px;
}

.unlike-heart {
    background-color: transparent;
    border: none;
    cursor: pointer;
    appearance: none;
    margin: 5px 7px 10px 10px;
}

.likes {
    width: 40%;
    border-radius: 6px;
    margin: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px lightslategray;
}

.detail-heart {
    display: flex;
    justify-content: space-between
}

.shop-d {
    border-radius: 5px;
    color: white;
    background-color: Blue;
    margin: 7px;
    padding: 7px;
}

a {
    text-decoration: none;
    font-size: 12px;
}
img {
    width: 100%;
}