.content {
    width: 80%;
    margin: 0 auto;
}
img {
    width: 100%;
}

.detail-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
}

.shop-info {
    width: 48%;
}

.shop-ttl {
    display: flex;
    margin: 5px;
}

.back {
    text-decoration: none;
    margin-right: 6px;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
    border-radius: 6px;
}

.shop-name {
    color: black;
    font-size: 20px;
}

p {
    margin: 7px;
}

.area_genre {
    margin: 5px;
}

.shop-detail {
    font-size: 17px;
    line-height: 20px;
}

.reservation {
    border-radius: 6px;
    background-color: #2958e6;
    width: 50%;
    position: relative;
}

.r-ttl {
    color: white;
    margin: 13px;
    font-size: 18px;
}

input {
    display: block;
    margin: 10px;
    border-radius: 5px;
    width: 50%;
}

select {
    display: block;
    margin: 10px;
    border-radius: 5px;
    width: 50%;
}

.reservation-info {
    width: 80%;
    margin: 60px auto 10px;
    text-align: center;
    border: 1px solid rgb(138, 178, 251);
    border-radius: 6px;
    background-color: rgb(138, 178, 251);
}

table th {
    color: white;
    margin: 3px;
    padding: 7px;
}

table td {
    color: white;
}

.reservation-btn {
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn {
    cursor: pointer;
    background-color: blue;
    padding: 5px 200px 10px 200px;
    color: white;
    border: 1px solid blue;
    border-radius: 0 0 6px 6px;
}

.validation {
    color: rgb(255, 0, 0);
}

@media screen and (max-width: 768px) {
    .shop-info {
        width: 100%;
    }

    .reservation {
        border-radius: 6px;
        background-color: #3d6af0;
        width: 100%;
        padding: 20px;
        position: relative;
        margin: 10px auto;
    }

    .reservation-btn {
        cursor: pointer;
        background-color: blue;
        padding: 5px 500px 35px 500px;
        color: white;
        border: 1px solid blue;
        border-radius: 0 0 6px 6px;
    }
}

@media screen and (max-width: 400px) {
    .reservation-btn {
        cursor: pointer;
        background-color: blue;
        padding: 5px 125px 3px 135px;
        color: white;
        border: 1px solid blue;
        border-radius: 0 0 6px 6px;
    }
}